/*Basic Reset*/
body {
    margin:0;
    padding:0;

}
h1 {
    text-align: center;
    width: 100%;
    font-family: "Adobe Garamond Pro";
    font-size: 3em;
    font-weight: bold;
}
#left-operand{
    height: 50px;

}
#center-operand {
    height: 50px;

}
#right-operand {
    height: 50px;

}
button {
    height: 50px;
}
