/*Basic Reset*/

body {
    margin:0;
    padding:0;
}


/*Base Style*/

#cal-frame{
    width: 80%;
}
h1 {
    text-align: center;
    width: 100%;
    font-family: Futura;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
}
.top-input{
    background-color: darkgrey;
    color: black;
    font-weight: bold;
}
#left-operand{
    height: 80px;

}
#center-operand {
    height: 80px;

}
#right-operand {
    height: 80px;

}
button {
    height: 80px;
}
#negPos, #decimal, #percentage {
    background-color: lightgray;
}
